{% extends 'shop/basic.html' %}
{% block body %}
{% load static %}

<div class="container" style="padding-top:100px;padding-bottom:100px">
  <div class="row">
    <div class="col bg-light">

      <form method="POST">
          {% csrf_token %}
            <div class="text-center pb-4">
                <span><h2>Change Password</h2></span>
            </div>
			<hr class="hr-primary mb-3" />
            <div class="form-group pt-4 text-center">
                <input type="password" name="password" placeholder="Password" required="" id="id_password" class="textbox">
                      <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                <script>
                    const togglePassword = document.querySelector('#togglePassword');
                      const password = document.querySelector('#id_password');

                      togglePassword.addEventListener('click', function (e) {
                        // toggle the type attribute
                        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                        password.setAttribute('type', type);
                        // toggle the eye slash icon
                        this.classList.toggle('fa-eye-slash');
                    });
                </script>
            </div>

			<div class="form-group pt-4 text-center">
                <input type="password" name="confirm_password" placeholder="Confirm Password" required="" id="confirm_password" class="textbox">
                      <i class="far fa-eye" id="tPassword" style="margin-left: -30px; cursor: pointer;"></i>
                <script>
                    const tPassword = document.querySelector('#tPassword');
                      const pass = document.querySelector('#confirm_password');

                      tPassword.addEventListener('click', function (e) {
                        // toggle the type attribute
                        const type = pass.getAttribute('type') === 'password' ? 'text' : 'password';
                        pass.setAttribute('type', type);
                        // toggle the eye slash icon
                        this.classList.toggle('fa-eye-slash');
                    });
                </script>
            </div>

            <div class="form-group text-center pt-4">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

    </div>
  </div>
</div>

{% endblock %}